html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  .App {
    min-height: 100%;
  }
  .content {
    padding: 20px;
    padding-bottom: 50px;
  }

  a {
      font-size: 1em;
  }